<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Add Product</h2>
                <form action="/admin/add-product" method="post" enctype="multipart/form-data">
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control">

                    <label for="">Category</label>
                    <input type="text" name="Category" class="form-control">


                    <label class="control-label">Product variants</label>
                    <ul class="list-group" id="product_opt_wrapper">
                        <li class="list-group-item bg-secondary">
                            <div class="row">
                                <div class='col-sm-3'>Size</div>
                                <div class='col-sm-3'>Price</div>
                                <div class='col-sm-3 text-right'>
                                    <a href="/admin/add-variant" class="btn btn-outline-success">Add</a>
                                </div>
                            </div>
                        </li>
                        {{#if result.variants}}
                        {{#each result.variants}}
                        <li class="list-group-item">
                            <div class="row">
                                <div class='col-sm-3'>{{this.size}}</div>
                                <div class='col-sm-3'>
                                    {{ this.price}}</div>
                                {{else}}
                                <div class='col-sm-3'>N/A</div>
                            </div>
                        </li>
                        {{/each}}
                        {{else}}
                        <li class="list-group-item">
                            <div class="row">
                                <div class='col-sm-12 text-center'>No current variants</div>
                            </div>
                        </li>
                        {{/if}}
                    </ul>
                    <label for="">Description</label>
                    <input type="text" name="Description" class="form-control">

                    <label for="">Image</label>
                    <input type="file" name="Image" class="form-control">

                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>