<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Add Variant</h2>
                <form action="/admin/add-variant" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <label for="">Title</label>
                        <input type="text" name="title" class="form-control">

                        <label for="">Price</label>
                        <input type="text" name="price" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success mt-4">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>