<section>
    <div class="container">
        <div class="row mt-4">
            <a class="btn btn-success ml-auto" href="/admin/add-product">Add Product</a>
        </div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{this.Name}}</td>
                    <td>{{this.Category}}</td>
                    <td>{{this.Description}}</td>
                    <td><img style="width:50px;height:50px" src="/product-images/{{this._id}}.png" alt=""></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>