<section>
    <div class="container mt-4">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 p-3">
                <div class="card" style="width: 15rem; height:25rem">
                    <img class="card-img-top" src="/product-images/{{this._id}}.png" style="height:12rem;"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-text">{{this.Description}}</p>
                        <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>